.NewRecord .Tip {
  text-align: center;
  vertical-align: center;
  border: solid 1px #eee;
  color: #aaa;
  padding: 10px 0;
}

.NewRecord .Panel .Content {
  border: solid 1px #eee;
}

.NewRecord .Panel .Submit {
  border: solid 1px #eee;
  border-radius: 3px;
}
